*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-DNS-Based-Digital-Verifiable-Credential-Verification-and-Trust-Registry-Architecture.xml
package-lock.json
report.xml
!requirements.txt
